/tmp
/binaries
/coverage*.txt
/apidocs/*.html
/internal/core/VERSION
/internal/servers/hls/hls.min.js
/internal/staticsources/rpicamera/mtxrpicam_*
.mediamtx.yml
.idea
.env
.vscode
.vscode/*
.vscode/*/*
.vscode/*/*/*
