[Unit]
Description=Orbit Play Service
After=network.target

[Service]
User=ubuntu
Group=ubuntu
ExecStart=/home/ubuntu/orbit-launch/mediamtx
WorkingDirectory=/home/ubuntu/orbit-launch
User=ubuntu
Restart=always

[Install]
WantedBy=multi-user.target
