[Unit]
Description=Orbit Play Service
After=network.target

[Service]
User=root
Group=root
ExecStart=/root/orbit-launch/mediamtx
WorkingDirectory=/root/orbit-launch
User=root
Restart=always

[Install]
WantedBy=multi-user.target
