root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{csproj,props,targets}]
indent_size = 2

[*.cs]
csharp_using_directive_placement = outside_namespace:warning
csharp_style_namespace_declarations = file_scoped:warning
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
dotnet_style_readonly_field = true:warning
dotnet_style_object_initializer = true:suggestion
dotnet_diagnostic.IDE0005.severity = warning
dotnet_diagnostic.CA1822.severity = suggestion
