name: code_test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test_64:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - run: make test

    - uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

  test_32:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - run: make test32

  test_highlevel:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - uses: actions/setup-go@v3
      with:
        go-version: "1.22"

    - run: make test-highlevel-nodocker
