name: code_lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  go:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - uses: actions/setup-go@v6
      with:
        go-version: "1.25"

    - run: go generate ./...

    - uses: golangci/golangci-lint-action@v8
      with:
        version: v2.5.0

  go_mod:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v5

    - uses: actions/setup-go@v6
      with:
        go-version: "1.25"

    - run: make lint-go-mod

  docs:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v5

    - run: make lint-docs

  api_docs:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v5

    - run: make lint-api-docs
